
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/gaypotatoemma.github.io/v17/DocumentLayout.json
.vs/gaypotatoemma.github.io/v17/.wsuo
.vs/gaypotatoemma.github.io/FileContentIndex/71d25b76-f0b1-49e4-8ee6-ef5b0f9ae420.vsidx
